In [ ]:
import pandas as pd
import numpy as np
df = pd.read_pickle("/kaggle/input/hr-pickle/hr.pickle")
df

In [ ]:
# see the shape before deleting nan values 
print(np.shape(df["ts"]))
#....................................................
print(df.iloc[0, 0])

In [ ]:
#1_remove nan values from time series.
#only removes rows where the entire "ts" column value is NaN
def remove_nan_Values_from_ts(df, column_name):
    df_cleaned = df.dropna(subset=[column_name])
    return df_cleaned

df_cleaned = remove_nan_Values_from_ts(df, "ts")

print(df_cleaned)

In [ ]:
#apply the function to each element of the column.
def remove_nan_values_from_ts_column(df, column_name):
    df[column_name] = df[column_name].apply(lambda x: [elem for elem in x if not np.isnan(elem).any()])
    return df

df_cleaned = remove_nan_values_from_ts_column(df, "ts")

print(df_cleaned)

In [ ]:
for i, ts in enumerate(df_cleaned["ts"]):
    if np.isnan(ts).any():
        print(i, " has NaN values")
    else:
        print("No Nan Values")

In [ ]:
#2_ return the shape of time series
def get_time_series_shape(time_series):
    return np.shape(time_series)
get_time_series_shape(ts)

In [ ]:
#3_new column in our dataset that has the shape of each time series after removing NaN values from it.  

def add_shape_column_with_removed_nans(DATA):
    df_cleaned['Shape'] = df_cleaned['ts'].apply(get_time_series_shape)
    return df_cleaned

df_cleaned = add_shape_column_with_removed_nans(df_cleaned)
df_cleaned

In [ ]:
""""4_Create a function that takes as input a desired length (example: 4096) and 
returns the rows from the previous data frame created in task 3 that has that 
same length. 
""" 
def filter_rows_by_length(desired_length):
    return df_cleaned[df_cleaned['Shape'].apply(lambda x: len(x) > 1 and x[1] == desired_length)]


filter_rows_by_length(4096)

In [ ]:
#5_A function that takes as input a fault name and returns its counts in our dataset,
def count_fault_name(data, fault_name):
    total_count = 0
    motor_count = 0
    machine_count = 0
    
    for faults_list in data:
        for fault in faults_list:
            if fault_name in fault:
                total_count += 1
                if 'motor' in fault:
                    motor_count += 1
                elif 'machine' in fault:
                    machine_count += 1
    
    result_dict = {
        "Fault name": fault_name,
        "Total count": total_count,
        "Total count in motor": motor_count,
        "Total count in machine": machine_count
    }
    return pd.DataFrame([result_dict])

print(count_fault_name(df_cleaned["faults"], "LXC"))
print(count_fault_name(df_cleaned["faults"], "Flow"))

In [ ]:
import pandas as pd

def count_fault_names(data):
    result_dict = {}
    
    for faults_list in data:
        for fault in faults_list:
            for fault_name in fault:
                if fault_name not in result_dict:
                    result_dict[fault_name] = {"Total count": 0, "Total count in motor": 0, "Total count in machine": 0}
                result_dict[fault_name]["Total count"] += 1
                if 'motor' in fault:
                    result_dict[fault_name]["Total count in motor"] += 1
                elif 'machine' in fault:
                    result_dict[fault_name]["Total count in machine"] += 1
    
    result_df = pd.DataFrame(result_dict).transpose().reset_index()
    result_df.columns = ["Fault name", "Total count", "Total count in motor", "Total count in machine"]
    return result_df

print(count_fault_names(df_cleaned["faults"]))